{{#each this}}
  <h1 class="tit text-center">{{this.2.}}</h1>
  <p class="nowrap"> * * * * * * * * * * * * * * </p>
  <p>
    <span>单号</span>
    <span>&nbsp;</span>
    <span>数量</span>
    <span>&nbsp;</span>
    <span>售价</span>
  </p>
  <p class="nowrap" >- - - - - - - - - - - - - - </p>
  <p>
    <span>餐费</span>
    <span>&nbsp;</span>
    <span>&nbsp;1</span>
    <span>&nbsp;</span>
    <span>{{this.1.}}.00</span>
  </p>
  <p class="nowrap" >- - - - - - - - - - - - - - </p>
  <p>
    <span>数量： 1</span>
    <span>&nbsp;</span>
    <span>折价金额：0.00</span>
  </p>
  <p>
    <span>时间：{{this.0.}} 19:10</span>
  </p>
    <span>总金额：{{this.1.}}.00</span>
  </p>
  <p class="nowrap" >- - - - - - - - - - - - - - </p>
  <p>实收RMB：{{this.1.}}.00</p>
  <p>找零：0.00</p>
  <p class="nowrap"> * * * * * * * * * * * * * * </p>
  <p class="text-center">地址：古墩路588号<br/>电话：89871600<br/>请妥善保管好购物凭证</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
{{/each}}